*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(120deg, #153677, #4e085f) ;
    padding: 1rem;
}
.todo-app{
    width: 30%;
    min-width: 540px;
    background: rgb(247, 246, 245);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 1.5rem;
}
.todo-app h2{
    color: #002765;
    /* align-items: center; */
    text-align: center;
    margin-bottom: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 2rem;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    outline: none;
    border: none;
    background: transparent;
    padding: 10px;
    font-weight: 100;
}
button{
    border: none;
    outline: none;
    padding: 15px 40px;
    background: orangered;
    border-radius: 2rem;
    color: white;
    cursor: pointer;
    
}

ul li{
    list-style: none;
    font-size: 1rem;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    contrast { filter: contrast(160%); }
    
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
.checked{
    color: #555;
    text-decoration: line-through;
}
.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 10px;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    color: #555;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background: #eaeaeb;
    text-align: center;
    border-radius: 50%;
}